<!DOCTYPE html>
<html>
<head>
      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1GKXLSM7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK1GKXLSM7');
</script>
  <title>Checkout canceled</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  <section>
    <h3 class="cancel-text">Would you like to try our game again? Come back whenever you're ready!</h3>
                      <a href="{{ url_for('home') }}" class="button">Home</a>

  </section>
</body>
</html>