<!DOCTYPE html>
<html>
<head>
    <title>Email Form</title>]
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script id="mcjs">!
        function (c, h, i, m, p) {
            m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
        }
        (document, "script",
            "https://chimpstatic.com/mcjs-connected/js/users/44e7bd98aa6fb603597067899/af5d873a631f5de581dfbf03b.js");
    </script>
</head>
<body>

</body>
</html>
