<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1GKXLSM7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK1GKXLSM7');
</script>
  <title>Game Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div class="section">
      <div>
        <h2>About Hone</h2>
        <p>This is some placeholder text for the about section.</p>
      </div>
    </div>
    <div class="section">
      <div>
        <h2 class="center-heading">Instructions</h2>
        <div class="instructions">
          <div class="instruction">
            <img src="{{ url_for('static', filename='instructionOne.jpg') }}" alt="Instruction 1">
            <p>Instruction 1</p>
          </div>
          <div class="instruction">
            <img src="{{ url_for('static', filename='instructionTwo.jpg') }}" alt="Instruction 2">
            <p>Instruction 2</p>
          </div>
          <div class="instruction">
            <img src="{{ url_for('static', filename='instructionThree.jpg') }}" alt="Instruction 3">
            <p>Instruction 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
