<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1GKXLSM7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-KK1GKXLSM7');
    </script>

    <title>Hone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="section">
    <div class="home-container">
        <div class="left-half">
            <img src="{{ url_for('static', filename = 'logo.png') }}" class="logo">
            <h1 class="title">Hone</h1>
            <h3 class="subtitle">Help your child to easily understand facial expressions</h3>
            <p>An emotion-guessing game designed to help autistic children recognize complex emotions </p>
            <div class="pricing-plans-login">

                <a href="#pricing" class="button">Pricing Plans</a>
                <a href="{{ url_for('login') }}" class="login-button">Login</a>
            </div>

        </div>
        <div class="right-half">
            {#second section#}
            <h3 class='research-title'>Backed by research</h3>

            <div class="research">
                <p>"The children who worked with [a similar game] showed improvements in their playground interactions with
                    other kids."</p>
                <em>
                    <p style='text-align: right;'> - Maria Hopkins Ph.D.
                        <img src="{{ url_for('static', filename='maria-hopkins Small.jpeg') }}"
                             class="translated-image-maria"
                             width="40" height="60"></p>
                </em>
            </div>


            <div class="research">
                <p>“Mitchell is better able to recognize more complex
                    emotions.” </p>
                <em>
                    <p style='text-align: right;'> - Mother of a 13-year-old research participant </p>
                </em>
            </div>

        </div>

    </div>
</div>
</div>
<div class="section">
    <div id="pricing" class="pricing-container-container">
        <h1 class="pricing-plans"> Pricing Plans</h1>

        <div class="pricing-container">
            <div class="pricing-box">
                <h1>Hone Starter</h1>
                <hr class="rounded">
                <br>
                <ul>

                    <li><h3>Available on browser</h3></li>
                    <li><h3>1 game, 20 levels </h3></li>
                    <li><h3>1 hour of playtime</h3></li>
                    <p class="new-line"><br></p>
                    <p class="new-line"><br></p>

                    <p class="new-line"><br></p>


                </ul>
                <span class="pricing-text">$5 </span>
                <span class="pricing-text-b">a month</span></h1>
                {#                <a href="{{ url_for('create_checkout_session') }}" class="button">Try now!</a>#}
                <a href="{{ url_for('levels', userId=userId) }}" class="try-button">Try demo!</a>

                <form action="{{ url_for('create_checkout_session') }}" method="POST">
                    <button type="submit" id="button" class="button">Get</button>
                </form>


            </div>
            <br>
            <div class="pricing-box">
                <h1>Hone Plus</h1>
                <hr class="rounded">
                <br>
                <ul>
                    <li><h3>Available on IOS and browser</h3></li>
                    <li><h3> 4 games</h3></li>
                    <li><h3> 20 hours of playtime</h3></li>
                    <li><h3>Access to new monthly games</h3></li>
                    <li><h3>Free cancellation any time</h3></li>
                    <li><h3>No hassle full refund</h3></li>


                </ul>
                <h1>
                    <span class="pricing-text">$15</span>
                    <span class="pricing-text-b">a month</span></h1>

                <a href="{{ url_for('email_form') }}" class="button">Get</a>

            </div>
        </div>
        <div class="contact">
            Contact us at <em>hone.harrisonshu@gmail.com </em>
        </div>
    </div>

</div>
</body>
</html>