<!DOCTYPE html>
<html>
<head>
    <title>Hone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>

<div class="home-container">
    <div class="left-half">
        <img src="{{ url_for('static', filename = 'logo.png') }}" style="margin: 0px; padding: 0px;"
             class="translated-image">
        <h1 class="title">Hone</h1>
        <h3 class="subtitle">Rapidly develop your autistic child to recognize complex emotions</h3>
        <p>8 Interactive Levels designed for hours of fun while empowering your child's social intelligence! </p>
        <a href="{{ url_for('levels', userId = userId ) }}" class="button">Try now!</a>
    </div>
    <div class="right-half">
        {#second section#}
        <div class="research">
            <p>"The children who worked with the software showed improvements in their playground interactions with
                other kids."</p>
            <em>
                <p style='text-align: right;'> - Maria Hopkins Ph.D.
                    <img src="{{ url_for('static', filename='maria-hopkins Small.jpeg') }}"
                         class="translated-image-maria"
                         width="40" height="60"></p>
            </em>
        </div>


        <div class="research">
            <p>“Mitchell cannot only tell when I am happy or angry, but he is better able to recognize more complex
                emotions.” </p>
            <em>
                <p style='text-align: right;'> - Mother of a 13-year-old research participant </p>
            </em>
        </div>
            <h3 style="text-align: center; font-size: 24px;">Research-backed Child Development</h3>

    </div>

</div>
</div>

</body>
</html>