<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1GKXLSM7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK1GKXLSM7');
</script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <a href="{{ url_for('home') }}">
        <img src={{ url_for('static', filename = 'Home.png')}} class='home-icon' width="75" height="75">
    </a>
  <div class="container">
  <div class="level-selection-box">
    <h1 style="font-size: 36px;">Level Selection</h1>
  </div>
    <div class="level-grid">
      {% for level in levels %}
      <div class="level">
        <a href="{{ url_for('quiz', userId = userId, level=level.level) }}">
          <div class="level-number-box {% if level.levelCompleted %}completed{% else %}incomplete{% endif %}">
            <span class="level-number">{{ level.level }} </span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
