<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}">
        <img src={{ url_for('static', filename = 'Home.png')}} class='home-icon' width="75" height="75">
    </a>
  <div class="container">
  <div class="level-selection-box">
    <h1 style="font-size: 36px;">Level Selection</h1>
  </div>
    <div class="level-grid">
      {% for level in levels %}
      <div class="level">
        <a href="{{ url_for('quiz', userId = userId, level=level.level) }}">
          <div class="level-number-box {% if level.levelCompleted %}completed{% else %}incomplete{% endif %}">
            <span class="level-number">{{ level.level }} </span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
