<!DOCTYPE html>
<html>
<head>
      <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1GKXLSM7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK1GKXLSM7');
</script>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
    <a href="{{ url_for('home') }}">
        <img src={{ url_for('static', filename = 'Home.png')}} class='home-icon' width="75" height="75">
    </a>
<div class="login-container">
    <h2>Login</h2>
    <form action="{{ url_for('process_login') }}" method="POST">
        <input type="text" name="email" placeholder="Email" required>
        <button type="submit" class="button">Login</button>
    </form>
</div>
</body>
</html>
