<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1GKXLSM7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK1GKXLSM7');
</script>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='quiz_script.js') }}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

    <a href="{{ url_for('home') }}">
        <img src={{ url_for('static', filename = 'Home.png')}} class='home-icon' width="75" height="75">
    </a>

<div class="container">
    <div class="score-box">
        <h2>Score: <span id="scoreValue">{{ level.score }}</span> </h2>
    </div>
    <div class="progress-container">
        <div class="w3-light-grey w3-round" style="width: 100%;">
            <div class="w3-green w3-round" style="height:24px;width:{{ (level.score / 10) * 100 }}%"></div>
        </div>
    </div>

    <br>
    <img src="{{ url_for('static', filename='faces/' + question.imageName) }}" id="faceImage" alt="Picture"
         class="picture">

    <div class="answer-boxes">
        {% for emotion in level.emotions %}
            <div class="answer-box" data-userid="{{ userId }}" data-level="{{ level.level }}">
                <p>
                    {{ emotion }}</p>
            </div>


        {% endfor %}

    </div>
    <a href="{{ url_for('levels', userId=userId) }}">
        <div class="back-box">
            <p style="margin:auto;">Back</p>

        </div>
    </a>


</div>

</body>
</html>
