<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='quiz_script.js') }}"></script>


</head>
<body>
<div class="container">
<div class="score-box">
        Score: <span id="scoreValue">{{ level.score }}</span>
    </div>
    <img src="{{ url_for('static', filename='faces/' + question.imageName) }}" id="faceImage" alt="Picture" class="picture">
    <div class="answer-boxes">
        {% for emotion in level.emotions %}
            <div class="answer-box">
                <button type="button" class="emotion-button" data-userid="{{ userId }}" data-level="{{ level.level}}">
                    {{ emotion }}</button>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
