@import url('https://fonts.googleapis.com/css?family=Press Start 2P');
@import url('https://fonts.googleapis.com/css?family=Overpass Mono');

/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url('../background.png');
    object-fit: cover;
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}


.home-icon {
    position: fixed;
    top: 4vh;
    right: 4vh;
    transition: transform 0.2s ease-in-out;
    width: 75px;
    height: 75px;
}

.home-icon:hover {
    transform: scale(1.1);
}

.logo {
    margin: 0px;
    padding: 0px;
}

.title {
    font-size: 180px;
    text-align: left;
    margin-bottom: 2vh;
    font-family: "Press Start 2P";
    margin-top: 1vh;
}

.subtitle {
    font-size: 32px;
    text-align: left;
    margin-bottom: 2vh;
    font-family: "Overpass Mono";
    font-weight: normal;
}

.left-half p {
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 22px;
}

.button {
    padding: 1vh 2.5vh;
    background-color: #4CAF50;
    margin: 2%;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Overpass Mono";
    font-weight: bold;
    max-width: 20vw;
}

.try-button {
    padding: 0.5vh 1.25vh;
    background-color: lightgray;
    margin: 2%;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Overpass Mono";
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2.5vh;
    align-content: center;
    justify-content: center;
}

.home-container {
    display: flex;
}

.left-half {
    width: 70%;
    padding: 12vh;
    padding-top: 6vh;
}

.translated-image-maria {
    transform: translateY(2.5vh);
}

.right-half {
    width: 30%;
    padding: 12vh;
    display: flex;
    flex-direction: column;
}

.research {
    margin: 1vh;
    padding: 2.5vh;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.research:hover {
    transform: scale(1.05);
}

.research-title {
    text-align: center;
    font-size: 24px;
}

/*Pricing*/

.pricing-container-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 80%;
    text-align: center;
}

.pricing-plans-login {
    display: flex;
    align-content: start;
}

.login-button {
    padding: 0.5vh 1.25vh;
    background-color: lightgray;
    margin: 2%;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Overpass Mono";
    font-weight: bold;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    height: 70%;
    width: 100%;
}

.pricing-box {
    height: auto;
    width: 35%;
    min-width: 50vh;
    margin: 10vh;
    padding: 2.5vh;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.pricing-box h3 {
    text-align: start;
    font-weight: normal;
}

.new-line {
    font-size: 1.17em;
}

.pricing-text {
    font-size: 54px;
    font-family: 'Overpass Mono'
}

.pricing-text-b {
    font-size: 20px;
    font-family: 'Overpass Mono'
}

/*divider*/
hr.rounded {
    border-top: 6px dotted lightgray;
    border-radius: 4px;
}

.section {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-bottom: 10vh;
}

.score-box h2 {
    font-family: "Overpass Mono";
    margin: 0;
}

p {
    font-family: "Overpass Mono";
}

.answer-box p {
    font-family: "Overpass Mono"
}

.score-box #scoreValue {
    font-family: "Overpass Mono";
}

img {
    border-radius: 10px;
}

/*Payment Success*/
.payment {
    margin: 1vh;
    padding: 2.5vh;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    min-height: 100%;
}

/*Signup / Login*/
.login-container {
    max-width: 20%;
    margin: 0 auto;
    padding: 10%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input[type="text"], input[type="number"] {
    width: 90%;
    padding: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}


/* level selection page */

.level-selection-box {
    padding-left: 4vh;
    padding-right: 4vh;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.level-selection-text {
    font-size: 36px;
}

.level-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.level {
    flex: 0 0 40%;
    padding: 1vh;
    text-align: center;
    margin-bottom: 2.5vh;
}

.level-number-box.completed {
    width: 100%;
    height: 15vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    transition: transform 0.2s ease-in-out;
}

.level-number-box.incomplete {
    width: 100%;
    height: 15vh;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    transition: transform 0.2s ease-in-out;
}

.level-number-box:hover {
    transform: scale(1.1);
}

.level-number {
    font-size: 32px;
    color: black;
    font-family: "Overpass Mono";
}

h1 {
    font-family: "Overpass Mono";
    font-size: 48px;
}

.pricing-plans h1 {
    font-family: "Overpass Mono";
    font-size: 48px;
}

h2 {
    font-family: "Overpass Mono";
    font-size: 32px;
}

h3 {
    font-family: "Overpass Mono";
}

.cancel-text {
    font-size: 32px;
    padding: 10%;
}

.answer-boxes {
    display: flex;
    justify-content: center;
}

.answer-box {
    margin: 1vh;
    padding: 1vh;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.answer-box:hover {
    transform: scale(1.1);
}


.picture {
    max-width: 28%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.center-heading {
    text-align: center;
}

.score-box {
    margin-top: 6vh;
    text-align: center;
}

/*Progress Bar*/
.progress-container {
    display: flex;
    justify-content: center;
}

/*Back Button*/
.back-box {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 15%;
    height: 6vh;
    margin: auto;
}

/*Contact line*/
.contact {
    text-align: right;
    font-family: "Overpass Mono";
    font-size: 12px;
}


/*remove underline from links*/
a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* mobile optimization */
@media screen and (max-width: 767px) {
    body {
        margin: 0;
        width: 100%;
        background-size: 100% 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
    }

    .title {
        font-size: 32px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 0;
    }

    .home-container {
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

    .logo {
        width: 25vh;
        height: 10vh
    }

    .left-half {
        width: 80vw;
        height: 40%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vh;
    }

    .left-half p {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 12px;
    }

    .right-half {
        width: 80vw;
        height: 40%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        font-size: 10px;
        max-width: 20vw;
        padding: 1vw 2vw;
        margin-top: 5%;
    }

    .try-button {
        font-size: 7px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-family: "Overpass Mono";
        font-size: 8px;
    }

    h3 {
        font-family: "Overpass Mono";
        font-size: 10px;
    }

    p {
        font-family: "Overpass Mono";
        font-size: 8px;
    }

    .pricing-container-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 70%;
        width: 80%;
        text-align: center;
    }

    .pricing-plans-login {
        flex-direction: column;
        width: 80vw;
    }

    .login-button {
        font-size: 10px;
        max-width: 20vw;
        padding: 0.5vw 1.25vw;

    }


    .pricing-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        height: auto;
        width: 100%;
    }

    .pricing-box {
        height: auto;
        width: 35%;
        min-width: 70vw;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding: 2.5vw;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        line-height: 0.8em;
    }

    .pricing-box h3 {
        text-align: start;
        font-weight: normal;
        font-size: 10px;
    }

    /*divider*/
    hr.rounded {
        border-top: 6px dotted lightgray;
        border-radius: 4px;
    }

    .pricing-text {
        font-size: 18px;
        font-family: 'Overpass Mono'
    }

    .pricing-text-b {
        font-size: 10px;
        font-family: 'Overpass Mono'
    }

    .research {
        margin: 1vw;
        padding: 2.5vw;
    }

    .research-title {
        font-size: 12px;
    }


    .pricing-plans {
        font-family: "Overpass Mono";
        font-size: 24px;
    }

    .pricing-box ul {
        padding-inline-start: 3vw;
        margin-block-start: 0.3em;
        margin-block-end: 0.3em;
    }

    .new-line {
        font-size: 0em;
    }

    hr {
        margin-block-end: 0;
    }

    .contact {
        text-align: right;
        font-family: "Overpass Mono";
        font-size: 6px;
    }


    /*Mobile Level Selection*/
    .home-icon {
        position: fixed;
        top: 4vw;
        right: 4vw;
        transition: transform 0.2s ease-in-out;
        width: 30px;
        height: 30px;
    }

    .level-selection-text {
        font-size: 24px;
    }

    .level-selection-box {
        margin: auto;
    }

    /*Mobile Quiz*/
    .answer-box {
        margin: 1vw;
        padding: 1vw;
    }

    .picture {
        max-width: 60%;
    }

    .center-heading {
        text-align: center;
    }

    .score-box {
        margin-top: 6vw;
    }

    /*Progress Bar*/
    .progress-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5em;
    }

    /*Back Button*/
    .back-box {
        width: 40%;
        height: 6vw;
    }

    .answer-box p {
        font-size: 12px;
    }

    .login-container {
        max-width: 80%;
    }

    .cancel-text {
        font-size: 18px;
    }

}
